<header>
	<div class="jumbotron">
	
		<div class="col-sm-6 col-md-6 text-center">

			<%= link_to 'Ingresar como profesor', new_teacher_session_path %> |
			<%= link_to 'registrarse como profesor', new_teacher_registration_path %> 
			
		</div>

		<div class="col-sm-6 col-md-6 text-center">
			
			<%= link_to 'Ingresar como estudiante', new_student_session_path %> |
			<%= link_to 'registrarse como estudiante', new_student_registration_path %> 

		</div>
		
	</div>
</header>