<header>
	<div class="jumbotron">
		<div class="col-sm-6 col-md-6 text-center">
			loguear como profesor
		</div>

		<div class="col-sm-6 col-md-6 text-center">
			loguear como estudiante
		</div>

	</div>
</header>